table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// td, th {
//   width: auto;
// }
// th.mat-header-cell {
//   text-align: center !important;
// }
tr.mat-header-row {
  background-color: cornsilk;
  text-align: center;
}
th.mat-header-cell, td.mat-cell {
  text-align: center;
  border: 1px solid #e5e5e5;
  padding: 0px 10px !important;
}
.mat-cell{
  color: #0000008a;
}
.mat-header-cell {
  font-weight: 600;
  color: #333;
}